*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background:orange ;
}
#form{
    width: 500px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
}
h1{
    border-bottom: 1 px solid black;
    margin-bottom: 20px;
    text-align:center;
}
.form-control{
    display:flex;
    flex-direction: column;
}
.form-control input{
    border:2px  solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 12px;
    width: 100%;
}
#form #btn{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    background-color: orange;
    border: none;
    border-radius: 4px;
    color: #fff;
}
.form-control .error{
    color: #ff3860;
    font-size: 12px;
    height: 13px;
    margin: 10px;
}
.form-control.success{
    border-color: green;

}
.form-control.error input{
    border-color: red;
}